<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @Portfolio.main_image unless @Portfolio.main_image.nil?%>
    </div>
    <div class="col-md-5">
      <h2><%= @Portfolio.title %></h2>
      <hr>
      <em><%= @Portfolio.subtitle %></em>
      <p><%= @Portfolio.body %></p>
      <hr>
      <h2>Technologies Used</h2>
      <% @Portfolio.technologies.each do |techno| %>
      <p><%= techno.name %></p>
      <%end %>
    </div>
  </div>
</div>

