 <div class="<%= location %>">
<span><%= link_to 'Home',root_path%></span>
<span><%= link_to 'About',about_path%></span>
<span><%= link_to 'Blogs',blogs_path%></span>
<span><%= link_to 'Porfolios',portfolios_path%></span>
<span><%= link_to 'Contacts',contact_path%></span>
  </div>
  