<div class="collapse bg-inverse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">People think that computer science is the art of geniuses but the actual reality is the opposite, just many people doing things that build on each other, like a wall of mini stones.</p>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Site Map</h4>
            <ul class="list-unstyled"> 
              <li><%= link_to 'Home',root_path , class: "text-white"%></li>
              <li><%= link_to 'About',about_path , class: "text-white"%></li>
              <li><%= link_to 'Blogs',blogs_path , class: "text-white"%></li>
              <li><%= link_to 'Porfolios',portfolios_path , class: "text-white"%></li>
              <li><%= link_to 'Contacts',contact_path , class: "text-white"%></li>
              <li> <%= login_in_helper 'text-white'%></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Foliwe Fossung</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>